.app {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/bg-map.png');
}

.appWithSideBar {
  flex-direction: row;
}

Header {
  background-color: #1c1a19;
}

/* .headerLogo {
} */

.navButton {
  background: transparent;
  border: none;
  color: #fdbf5a;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.sideBar {
  background-color: #1c1a19;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appWithSideBar section {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}
