.header {
  background-color: #1c1a19;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
}

.header__list .button {
  margin: 0 20px;
}

ul {
  list-style: none;
}
