.popup {
  position: absolute;
  top: 15%;
  left: 5vh;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px 50px;
}
.popupHeader {
  margin-bottom: 20px;
  text-align: center;
}
.popupBlock {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.popupInput {
  margin-bottom: 20px;
  width: 353px;
}
